name: CICD Pipeline
on:
   push:
      branches: "main"
   pull_request:
      branches: "main"
jobs:
   build:
      runs-on: self-hosted
      
      steps:
        - uses: actions/checkout@v4
        
        - name: build with maven
          # if: ${{ github.event_name == 'push' || github.event_name == 'pull_request' }}
          run: mvn clean install -B

        - name: echo command
          run: echo "result:${{ env.FULL_COMMAND }}"

       
          
        - name: build and deploy in dockerhub
          env:
            DOCKER_REGISTRY: docker.io
            DOCKER_USERNAME: ${{secrets.DOCKERHUB_USERNAME}}
            DOCKER_PASSWORD: ${{secrets.DOCKERHUB_TOKEN}}
            IMAGE_NAME: jaijp/sms
            
          run: |
            docker login -u "$DOCKER_USERNAME" -p "$DOCKER_PASSWORD" "$DOCKER_REGISTRY"
            docker build -t jaijp/sms:latest .
            docker push jaijp/sms:latest
            docker run -d jaijp/sms:latest

        - name: docker success
          run: echo "docker is successfull"

        - name: kube configure
          run: |
            mkdir -p $HOME/.kube
            echo "${{ secrets.KUBECONFIG }}" > $HOME/.kube/config
            chmod 600 $HOME/.kube/config
       
        - name: setup kubectl
          uses: actions/kubectl@v1

        - name: deploy to kubernetes
          run: |
            kubectl apply -f Deployment.yaml
            kubectl apply -f Service.yaml

        
