name: CICD Pipeline
on:
   push:
      branches: "main"
   pull_request:
      branches: "main"
jobs:
   build:
      runs-on: ubuntu-latest
      
      steps:
        - uses: actions/checkout@v4
        
        - name: build with maven
          # if: ${{ github.event_name == 'push' || github.event_name == 'pull_request' }}
          run: mvn clean install -B

        - name: echo command
          run: echo "result:${{ env.FULL_COMMAND }}"

          
        - name: build and deploy in dockerhub
          env:
            DOCKER_REGISTRY: docker.io
            DOCKER_USERNAME: ${{secrets.DOCKERHUB_USERNAME}}
            DOCKER_PASSWORD: ${{secrets.DOCKERHUB_TOKEN}}
            IMAGE_NAME: jaijp/sms
            
          run: |
            docker login -u "$DOCKER_USERNAME" -p "$DOCKER_PASSWORD" "$DOCKER_REGISTRY"
            docker build -t jaijp/sms:latest .
            docker push jaijp/sms:latest
         

        - name: docker success
          run: echo "docker is successfull"

        # - name: kube configure
        #   env:
        #     KUBECONFIG_DATA: ${{secrets.KUBECONFIG}}
        #   run: |
        #     mkdir -p $HOME/.kube
        #     echo "${KUBECONFIG_DATA}" > $HOME/.kube/config
        #     chmod 600 $HOME/.kube/config
         
       
        - name: setup kubectl
          uses: azure/setup-kubectl@v4

        # - name: test connection with k8s
        #   run: sudo kubectl cluster-info

        - name: Set up KinD cluster
          uses: helm/kind-action@v1

        - name: Deploy to KinD
          run: |
             kubectl apply -f Deployment.yaml --validate=false
             kubectl apply -f Service.yaml

        
