name: CICD Pipeline
on:
   push:
      branches: "main"
   pull_request:
      branches: "main"
jobs:
   build:
      runs-on: ubuntu-latest
      
      steps:
        - uses: actions/checkout@v4
        
        - name: build with maven
          if: ${{ github.event_name == 'push' || github.event_name == 'pull_request' }}
          run: mvn clean install -B

          
        - name: build and deploy in dockerhub
          env:
            DOCKER_REGISTRY: docker.io
            DOCKER_USERNAME: ${{secrets.DOCKERHUB_USERNAME}}
            DOCKER_PASSWORD: ${{secrets.DOCKERHUB_TOKEN}}
            IMAGE_NAME: jaijp/sms
          run: |
            docker login -u "$DOCKER_USERNAME" --password "$DOCKER_PASSWORD" "$DOCKER_REGISTRY"
            docker build jaijp/sms:latest .
            docker push jaijp/sms:latest
            docker logout $DOCKER_REGISTRY
            
